.notification-body {
    font-family: Roboto, sans-serif;
}
.container {
    margin: 10px 5px;
}
.message-container {
    display: flex;
    position: relative;
    width: 100%;
}
.avatar {
    width: 50px;
    height: 50px;
    margin: 0px 10px 10px 0px;
}
.message-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 7px 7px 0px 5px;
}
.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}
.content {
    font-size: 11px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.reply {
    display: flex;
    justify-content: space-between;
    /* margin: 0px 20px 0px 0px; */
}
.reply-input {
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border-color: #ddd;
    outline: none;
    border: 0px;
    -webkit-appearance: none;
}
.close {
    /* position: absolute; */
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    right: 10px;
    width: 20px;
    height: 20px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.input-container {
    border: 1px solid #ddd;
    display: flex;
    width: 100%;
}
.send-img {
    height: 25px;
    background-color: #1138F7;
    padding: 4px;
}
.profile-initial {
    width: 100%;
    height: 70%;
    text-align: center;
    flex-grow: 4px;
    padding-top: 30%;
    border-radius: 10px;
    font-weight: bold;
    background-color: antiquewhite;
}
.ubblu-title {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}