body {
    background-color: transparent;
    /* -webkit-app-region: drag; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
    
.ubblu {
    width: 75px;
    height: 75px;
    background-color: aliceblue;
    background-image: url("full.png");
    background-size: cover;
    border-radius: 50%;
}